@model IEnumerable<jhsystem.Models.Banner>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(jhsystem.App_GlobalResources.Resource.Create, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsEnable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>    
        <th>
            @Html.DisplayNameFor(model => model.Memo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsEnable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memo)
        </td>
        <td>
            @Html.ActionLink(jhsystem.App_GlobalResources.Resource.Edit, "Edit", new { id=item.ID }) |
            @Html.ActionLink(jhsystem.App_GlobalResources.Resource.Details, "Details", new { id=item.ID }) |
            @Html.ActionLink(jhsystem.App_GlobalResources.Resource.Delete, "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
